body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

div.container {
  border-radius: 5px;
  background-color: #34495e;
  padding: 50px;
  margin: 10px;

}

h3{
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}


p {
  
  font-size: 15px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  /*text-transform: uppercase;*/
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

p.test{
  text-align: left;
  /*margin: 40px 0 40px;*/
  text-align: left;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;

}

a {
  height: 100%;
  font-size: 15px; 
  margin-left: 5px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: #3498db;
  padding: 10px;
  border-radius: 5px;
}
a:hover{
  background-color: #9b59b6;
}

.navbar {
  max-width: 710px;
  margin: 100px auto;
  height: 60px;
  background-color: #34495e;
  border-radius: 10px;
  padding: 5px;
}