body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

div.container {
  border-radius: 5px;
  background-color: #34495e;
  padding: 20px;
  margin: 80px;
}

h3{
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
