




button{
    width: 100%;
  background-color: rosybrown;
  color: black;
    font-size: bold;
  padding: 14px 20px;
  margin: 30px 0 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}



button:hover{
    background-color: crimson;
}

label {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
}




.grid {
    border: solid aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 70%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    margin:  0 auto;
    grid-template-columns: repeat(3, 1fr);
}

* {
  box-sizing: border-box;
}

.item {
    padding 10px;
}
.item1{
    grid-column: span 3;
}
.item3{
    grid-column: span 2;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item7{
    grid-column-start: 1;
}
.item8{
    grid-column-start: 1;
}
.item9{
    grid-column-start: 1;
}
.item10{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end:7;
    border-radius: 100%;
}
.item10 img{
    background-size: auto;
    object-fit: cover;/*Responsável por ajustar a imagem dentro de seu espaço*/
    width: 70%;
    border-radius: 30px;
    max-height: 100%;
}

.item11{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end:7;
    border-radius: 100%;
}
.item12{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item13{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item14{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item15{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 16;
}

input[type='file'] {
  display: none;
}

#logoUploadLabel {
    position: relative;
    top: 30%;
    width: 100%;
    max-height: 20%; 
    display: block;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: black;
    border-radius: 4px;
}

@media (max-width: 700px) {
    .grid{
        display: block;
    }
}