 * {

 }
html{
    height: 100%;
}

 body {
   margin: 0;
 padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
     display: flex;
    flex-direction: column;
}

nav {
	margin: 27px auto ;
	/*margin:auto;*/
	/*width: 100%;
    height: 50px;*/

	position: relative;
	width: 770px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-sizing: border-box;
    z-index: 1;

}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 140px;
}
a:nth-child(5) {
	width: 120px;
}
a:nth-child(6) {
	width: 100px;
}
a:nth-child(7) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-equipe, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-contatos, a:nth-child(4):hover~.animation {
	width: 150px;
	left: 300px;
	background-color: #9b59b6;
}
nav .start-cadastros, div:nth-child(5):hover~.animation {
	width: 120px;
	left: 440px;
	background-color: #e67e22;
}
nav .start-vagas, div:nth-child(6):hover~.animation {
	width: 100px;
	left: 550px;
	background-color: #f1828d;
}
nav .start-entrar, a:nth-child(7):hover~.animation {
	width: 140px;
	left: 630px;
	background-color: #528459;
}
input[type=submit] {
  width: 100%;
  background-color: #23cba7;
  color: black;
    font-size: bold;
  padding: 14px 20px;
  margin: 30px 0 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #049372;
}

input[type=text]:not(.modal-input), select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.9;
  font-size: 18px;
}


h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h3{
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

select {
   cursor: pointer;
}

span {
    color: #2BD6B4;
}


nav .dropdown {
  display: inline-block;

}



nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

nav .dropdown .dropdown-content a {
  color: black;
  padding: 0px 0px 0px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;	
  color: white;
}

nav .dropdown .dropdown-content a:hover {background-color: #1e824c; min-width: 140px;}
nav .dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {
  nav a {
    width: 100%;
    display: block;
    text-align: center;
  }
}



/* carousel */

.slideshow-container {
    
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
    vertical-align: middle;
    object-fit: cover;
    max-height: 400px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#main{
    max-width: 70%;
    margin: 0 auto;
}

.container:not(.modal-container) {
	margin: 50px auto;
	display: flex;
  height: 150px;
    flex-direction: row;
    max-width: 100%;
}
.container-item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
    
	text-align: center;
	font-size: 1.5em;
}

.container-item p{
    margin-top: 50px;
}
.container-item img{
    max-width: 100%;
}
.flex-wrap {
	flex-wrap: wrap;
}

footer{

  height: 300px;
    font-size: 15px;
    color: #a0a0a0;
    background-color: #101010

}
footer div ul{
}
footer div ul li{
    list-style: none;
}
footer div ul li a{
    color: #a0a0a0;
    text-decoration: none;
}
.horiz-list li{
    font-size: 3em;
    display: inline;
}

.page-content{
    flex:1;
}

i{
    margin-right: 10px;
    
  transition: 0.3s;
}
/*Vagas*/
.vagas-section{
    width: 60%;
    margin: auto;
}
.vagas{
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px black;
}
.vagas p{
    color: black;
    text-align: left;
    
}

.title-2{
    max-width: 10%;
    font-size: 30px;
}
.col{
    float:left;
}

.col.u3{
    width: 33.33%
}

.col.u1{
    width: 100%;
}

.row{
    width: 100%;
    height: 100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}


h2{
   margin-bottom: 8px;
}

.description{
    color: darkslategray;
}

.right-side{
    float: right;
}

.simple-text{
    font-size: 20px;
    font-family: verdana;
    color: black;
}
 .default-btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
/*-Vagas-
*/

/* --Modal-- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal */
i:hover{
    color: aqua;
    text-shadow: 2px 2px RED;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  .container{display: block}
}

@media only screen and (max-width: 700px){
    .container{display: block}
    .container-item img{max-width: 100%}
}

.breadcrumb{
    color: aliceblue;
    
}
.breadcrumb a{
    color: #babaff;
    text-decoration: none;
}