* {
  box-sizing: border-box;
}

nav {
	margin: 27px auto 200px;
	/*margin:auto;*/
	
	position: relative;
	width: 720px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-sizing: border-box;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 140px;
}
a:nth-child(5) {
	width: 120px;
}
a:nth-child(6) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-contatos, a:nth-child(4):hover~.animation {
	width: 150px;
	left: 300px;
	background-color: #9b59b6;
}
nav .start-cadastros, div:nth-child(5):hover~.animation {
	width: 120px;
	left: 440px;
	background-color: #e67e22;
}
nav .start-vagas, div:nth-child(6):hover~.animation {
	width: 100px;
	left: 550px;
	background-color: #f1828d;
}
input[type=submit] {
  width: 100%;
  background-color: #23cba7;
  color: black;
    font-size: bold;
  padding: 14px 20px;
  margin: 30px 0 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #049372;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.9;
  font-size: 18px;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h3{
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

select {
   cursor: pointer;
}

span {
    color: #2BD6B4;
}


nav .dropdown {
  display: inline-block;
}



nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav .dropdown .dropdown-content a {
  color: black;
  padding: 0px 0px 0px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;	
  color: white;
}

nav .dropdown .dropdown-content a:hover {background-color: #1e824c; min-width: 140px;}
nav .dropdown:hover .dropdown-content {
  display: block;
}

/* carousel */

.slideshow-container {
    
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
    vertical-align: middle;
    object-fit: cover;
    max-height: 400px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
